body {
  background-image: linear-gradient(to right, #285897, rgb(169, 224, 117));
  display: flex;
}

.Wrapp {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  width: 350px;
  margin: auto;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.Header {
  color: rgb(126, 123, 123);
  border-bottom: 2px solid rgb(42, 190, 55);
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.Txt {
  width: 70%;
  border: none;
  border-bottom: 1px solid rgb(42, 190, 55);
  margin: 10px;
  padding: 10px;
  color: #27c421;
}

.Txt:focus {
  outline: none;
}

.Btn {
  width: 70%;
  background-color: rgb(42, 190, 55);
  border: none;
  border-radius: 15px;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 18;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.Btn:hover {
  cursor: pointer;
}

div > p:first-child {
  background-color: yellow;
}

p {
  color: rgb(126, 123, 123);
  text-align: center;
}

a:link,
a:hover {
  text-decoration: none;
  color: #27c421;
  font: 18px;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #27c421;
}
